{% extends "base.html" %}
{% load static %}

{% block title %}{{ titulo }}{% endblock title %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
{% endblock link %}

{% block cabecalho %}{{ titulo }}{% endblock cabecalho %}
{% block content %}
<div class="tabela">
    <table>
        <tr class="borda-grossa">
            <th>ID</th>
            <th>Produto</th>
            <th>PREÇO</th>
            <th>CRIADO</th>
            <th>MODIFICADO</th>
            <th>ATIVO</th>
            <th>VIZUALIZAR</th>
            <th>EDITAR</th>
            
        </tr>
        {% for produto in produtos %}
        <tr class="borda-fina">
            <td>{{ produto.id }}</td>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.criado }}</td>
            <td>{{ produto.modificado }}</td>
                <td>{{ produto.ativo }}</td>
                <td><a href="{% url 'det_produto' produto.id %}">👁️</a></td>
                <td><a href="{% url 'edit_produto' produto.id %}">🖋️</a></td>
            </tr>
            {% endfor %}
            
            
        </table>
</div>

        {% endblock content %}
        