* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho .navegacao {
    background-color: black;
    border-radius: 5px;
}

.cabecalho .menu {
    display: flex;
}

.cabecalho .menu li {
    display: flex;
    list-style-type: none;
    border-radius: 5px;
    position: relative;
}

.cabecalho .menu li a {
    display: block;
    padding: 15px 20px;
    color: white;
    transition: background-color 0.3s;
    text-decoration: none;
    border-radius: 5px;
}

.cabecalho .submenu {
    display: none;
    position: absolute;
    top: 100%; /* Faz o submenu aparecer abaixo do item pai */
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    z-index: 1;
}

.cabecalho .menu li:hover .submenu {
    display: block;
}

.cabecalho .active a {
    background-color: transparent; /* Cor de fundo para o item ativo */
    color: white; /* Cor do texto do item ativo */
    font-weight: bold; /* Texto em negrito */
    /* border-radius: 5px; */
    border-bottom: 5px ridge white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cabecalho nav a:hover {
    background-color: gray;
    color: black;
}


.rodape {
    margin-top: 20px;
    border-top: 1px solid black;
}
