* {
    border: 0;
    padding: 0;
}

.head nav {
    background-color: black;
    border-radius: 5px;
}

.head nav ul {
    display: flex;
}

.head nav li {
    display: flex;
    list-style-type: none;
}

.head a {
    display: block;
    padding: 12px 15px;
    text-decoration: none;
}

.head .active a {
    background-color: gray; /* Cor de fundo para o item ativo */
    color: white; /* Cor do texto do item ativo */
    font-weight: bold; /* Texto em negrito */
    /* border-radius: 5px; */
}
