.tabela {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 80%;
}

td {
    text-align: center;
}

tr.borda-grossa {
    border-bottom: 3px solid black;
}
tr.borda-fina {
    border-bottom: 1px solid black;
}